FQDN=example.com
RSC_DATABASE_URL=postgresql://user:password@postgres/database
CLIENT_ID=twitchclientid
REDIRECT_URI=https://$FQDN/authenticate
SCOPE=channel:read:subscriptions
CLIENT_SECRET=twitchclientsecret
USERS=imrosen:stockvis