/*@import url('//fonts.googleapis.com/css2?family=Hind');*/

::-moz-selection { /* Code for Firefox */
    color: #001d24;
    background: whitesmoke;
}

::selection {
    color: #001d24;
    background: whitesmoke;
}

body {
    width: 300px;
    height: 200px;
    font-family: Hind, monospace;
    font-size: 20px;
    background-color: #001d24;
    color: whitesmoke;
    display: block;
    text-align: center;
}

div#header {
    padding: 20px;
    text-align: center;
    margin-bottom: 5px;
}

span#title {
    font-size: 35px;
    color: #ffab61;
}

button {
    background-color: #ffab61;
    color: #001d24;
    border-radius: 4px;
    cursor: pointer;
}

div#help-box{
    background-color: #ffab61;
    color: #001d24;
    font-size: medium;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1px 6px 0 6px;
    border-radius: 5px 0 0 0;
}

a:hover{
    text-decoration: none;
}
