@import url('//fonts.googleapis.com/css2?family=Hind:wght@600&display=swap');

body {
    background-color: #001d24;
    color: whitesmoke;
}

::-moz-selection { /* Code for Firefox */
    color: #001d24;
    background: whitesmoke;
}

::selection {
    color: #001d24;
    background: whitesmoke;
}

ol {list-style: none; counter-reset: li}

ol>li::before {content: counter(li)"."; color: #ffab61;
  display: inline-block; width: 1em;
  margin-left: -1em}

ol>li{
    font-family: 'Hind', monospace;
    font-size: x-large;
    margin-top: 30px;
    counter-increment: li
}

ul.colored {
  list-style: none;
}

ul.colored>li::before {
  content: "\2022";
  color: #ffab61;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1.2em;
}

div#title-bar {
    margin-top: 15px;
}

svg>text {
    font-family: 'Hind', monospace;
    fill: #ffab61;
}

div.content-box{
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 7px solid #ffab61;
}

svg {
    width: 100%;
}

a{
    color: whitesmoke;
    font-family: 'Hind', monospace;
    font-size: x-large;
    text-decoration: none;
}

a.nav-link {
    color: whitesmoke;
    text-decoration: none;
}

a.nav-link:hover{
    color: #ffab61;
    text-decoration: none;
}

a:hover {
    color: #ffab61;
    text-decoration: none;
}

a.small {
    font-size: initial;
}

a#home-setup-link{
    font-size: 20px;
    color: #ffab61;
}

a#home-setup-link:hover{
    color: whitesmoke;
}
