@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.list-container {
    margin-top: -10px;
}

div.after-list {
    margin-top: 10px;
}

.btn-twitch {
    font-family: Roboto, monospace;
    color: white;
    background-color: #ffab61;
}

.btn-twitch:hover {
    background-color: #6441a5;
}

#clipboard-icon {
    display: inline;
    color: #ffab61;
    font-size: 1.5em;
    margin-left: 7px;
    cursor: pointer;
}

span#copied{
    color: #ffab61;
    font-size: 1em;
    margin-left: 4px;
}

div#nightbot-command {
    display: inline-block;
    margin-top: 10px;
    font-family: monospace;
    word-wrap: break-word;
    width: 46ch;
    border: 1px solid #ffab61;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: whitesmoke;
    font-family: 'Hind', monospace;
}

a#small {
    font-size: initial;
}

code {
    color: #ffab61;
}

#extra-special {
    cursor: pointer;
}