{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/setup.css">
<div class="row">
    <div class="col-lg-12 list-container">
        <ol>
            <li id="install-extension">
                <a href="https://chrome.google.com/webstore/category/extensions" target="_blank">
                    <u>Install</u> the Twitchess Chome extension
                </a>
            </li>
            <li id="authentication-text">
                Authenticate the Twitch API
            </li>
            <div class="after-list">
                <a href="https://api.twitchess.app/authenticate">
                    <button class="btn btn-dark btn-twitch">
                        <img src="/static/media/twitch_logo.png" alt="Twitch logo" style="height: 15px">
                        <strong style="margin-left:4px" id="twitch-button-text">Authenticate</strong>
                    </button>
                </a>
            </div>
            <li>Enable the Nightbot command</li>
            <div id="nightbot-box" hidden>
                <ul>
                    <li>
                        <a href="https://nightbot.tv/commands/custom" target="_blank" id="small">Add a custom
                            command</a> <code>!lichess</code>
                        with
                        user level Subscriber
                    </li>
                    <li>
                        Use the following message for the command:
                    </li>
                </ul>
                <div onclick="copyCommand(this)">
                    <div id="nightbot-command"></div>
                    <div style="display: inline-block; top: 0">
                        <i class="far fa-clipboard" id="clipboard-icon"></i><span id="copied" hidden> Copied</span>
                    </div>
                </div>
            </div>
            <li>All done!</li>
        </ol>
    </div>
</div>
<script type="text/javascript" src="/static/js/setup.js"></script>
{% endblock %}