{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/setup.css">
<div class="row">
    <div class="col-lg-12 list-container">
        <ol>
            <li id="install-extension">
                <a href="https://chrome.google.com/webstore/category/extensions" target="_blank">
                    <u>Install</u> the Twitchess Chome extension
                </a>
            </li>
            <li id="authentication-text">
                Authenticate the Twitch API
            </li>
            <div class="after-list">
                <button class="btn btn-dark btn-twitch" id="authenticate-button" onclick="authenticate()">
                    <img src="/static/media/twitch_logo.png" alt="Twitch logo" style="height: 15px">
                    <strong style="margin-left:4px" id="twitch-button-text">Authenticate</strong>
                </button>
            </div>
            <li>Enable the Nightbot command</li>
            <div id="nightbot-box" hidden>
                <div onclick="copyCommand(this)">
                    <ul class="colored">
                        <li>
                            <a href="https://nightbot.tv/commands/custom" target="_blank" class="small">Add a custom
                                command</a>, for example <code>!lichess</code>, with user level <u>Subscriber</u>
                        </li>
                        <li>
                            Use the following message for the command:
                        </li>

                        <div id="nightbot-command"></div>
                        <i class="far fa-clipboard" id="clipboard-icon"></i><span id="copied" hidden> Copied</span>
                        <li style="margin-top: 5px">
                            Your Twitch subscribers can then link their Twitch account to their Lichess account using
                            <code>!lichess forkmaster99</code> in your Twitch chat.
                        </li>
                    </ul>
                </div>
            </div>
            <li>All done! <a href="https://lichess.org"><u>visit Lichess</u></a></li>
        </ol>
    </div>
</div>
<script type="text/javascript" src="/static/js/setup.js"></script>
{% endblock %}